<!-- 
 Author: Rakshit Shah
 Email: rakshitshah1994@gmail.com
 Link: https://medium.com/beingcoders/simple-steps-to-add-country-flags-to-your-angular-react-or-vue-applications-b415da1536ab?sk=3fd00879906dc74c0777dc21b5ba822b
-->
<div style="padding:50px;">
  <h1 style="color:green">Demo for Country Flag Icon</h1>
  <hr />
  <h2 style="color:green">Country Flags</h2>
  <h3>India <span class="flag-icon flag-icon-in"></span></h3>
  <h3>Canada <span class="flag-icon flag-icon-ca"></span></h3>
  <h3>
    Australia <span class="flag-icon flag-icon-au flag-icon-squared"></span>
  </h3>
  <h3>
    United Kingdom
    <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
  </h3>
  <h3>
    United States of America
    <span class="flag-icon flag-icon-us flag-icon-squared"></span>
  </h3>

  <hr />

  <h2 style="color:green">User Profile</h2>

  <a href="https://github.com/rakshitshah94" target="_blank"> Rakshit Shah</a
  >&nbsp;

  <span class="flag-icon flag-icon-in"></span>

  <hr />
</div>
